
<div id="videoDetails">
    <h2>Video Details</h2>
    <p>Title: <%= title %></p>
    <p>Duration: <%= duration %></p>
    <p>Description: <%= description %></p>
    <img alt="The thumbnail" src="<%= thumbnailUrl%>"/>
</div>
<div>
    c
</div>


