<div>
    <h2 class="text-center">Transcription Centre</h2>
</div>

<div class="top-container">
    <ul>
        <% files.forEach(file => { %>
            <li>
                <span><%= file.name %></span>
                <a href="/transcribe/<%= file.name %>">Transcribe</a>
                <a href="/delete/<%= file.name %>">Delete</a>
            </li>
        <% }); %>
    </ul>
</div>